<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:component-scan base-package="kosa"/>
	
	<!-- <bean id="helloController" class="kosa.controller.HelloController"></bean> -->
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- DB Setting -->
	<!-- SqlSessionFactoryBean을 통해서 sqlSessionTemplate객체를 생성 = sqlsession와 같음. -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="mySqlSessionFactoryBean"/>
	</bean>
	<!-- org.mybatis.spring.SqlSessionFactoryBean을 만들려고 하니깐 dataSource를 초기화 한 객체를 myDataSource 래퍼런스로 넣음-->
	<bean id="mySqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" /><!-- 객체와 관련 -->
		<property name="configLocation" value="/WEB-INF/mybatis-config.xml" /><!-- 문자열 -->
	</bean>
	
	<!-- 나만의 DataSource를 얻어 올수 있음(db와 연결하는 connection pool 객체) -->
	<bean id="myDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
      <property name="jndiName" value="jdbc/oracle"/>
      <property name="resourceRef" value="true"/>
   	</bean>

</beans>
